<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webapp.wooriga.mybatis.challenge.mapper.CertificationsMapper">

    <resultMap id = "registeredResult" type="RegisteredChallenges">
        <result property="registeredId" column="registered_id"/>
        <result property="chiefIdFK" column="chief_fk"/>
        <result property="familyId" column="familyid"/>
        <result property="challengeIdFK" column="challenge_fk"/>
        <result property="resolution" column="resolution"/>
    </resultMap>
    <resultMap id = "rcResult" type="Certifications">
        <result property="registeredIdFK" column="registered_fk"/>
        <result property="registeredDate" column="date" jdbcType="DATE"/>
        <result property="certificationPhoto" column="certification_photo"/>
        <result property="certificationTrue" column="certification_true"/>
        <collection property="registeredChallenges" resultMap="registeredResult"/>
    </resultMap>
    <insert id = "insertRegisteredDates" parameterType="Certifications">
        insert into certifications values(#{registeredIdFK},date_add(#{registeredDate}, interval +1 day),#{certificationPhoto},#{certificationTrue})
    </insert>
    <update id = "updateCertification" parameterType="Certifications">
        update certifications set  certification_true = #{certificationTrue},certification_photo = #{certificationPhoto}
        where registered_fk = #{registeredIdFK} and date = date_add(#{registeredDate}, interval +1 day)
    </update>
    <select id="selectList" parameterType="String" resultMap="rcResult">
            select registered_fk,c.date,r.challenge_fk,r.chief_fk,r.resolution from registeredchallenges r,
             certifications c where r.registered_id = c.registered_fk and date
  between #{firstdate} and #{finaldate} and familyid = #{familyId};
    </select>
    <select id = "selectMyChallengeViewInfo" parameterType="java.util.HashMap" resultMap="rcResult">
        select registered_fk,c.date,r.challenge_fk,r.chief_fk,r.resolution from registeredchallenges r,
        certifications c where r.registered_id = c.registered_fk and familyid = #{familyId} and
        date > now() and r.chief_fk = #{uid}
    </select>
    <select id = "selectOurChallengeViewInfo" parameterType="java.util.HashMap" resultMap="rcResult">
        select registered_fk,c.date,r.challenge_fk,r.chief_fk,r.resolution from registeredchallenges r,
        certifications c where r.registered_id = c.registered_fk and familyid = #{familyId} and
        date > now() and r.chief_fk != #{uid}
    </select>
    <select id = "selectChallengeDetailInfo" parameterType="long" resultMap="rcResult">
        select * from registeredchallenges r, certifications c where r.registered_id =
        c.registered_fk and r.registered_id = #{registeredId}
    </select>
    <delete id = "deleteCertification" parameterType="java.util.HashMap">
        delete from certifications where registered_fk = #{registeredId} and date = date_add(#{date}, interval +1 day)
    </delete>
    <select id = "selectTotalDateNum" parameterType="long" resultType="int">
        select count(*) from certifications where registered_fk = #{registeredId}
    </select>
    <select id = "selectCertificationDateNum" parameterType="long" resultType="int">
        select count(*) from certifications where registered_fk = #{registeredId} and certification_true = 1
    </select>
    <select id = "selectNonCertificateDate" parameterType="java.util.HashMap" resultMap="rcResult">
        select date from certifications where registered_fk = #{registeredId} and certification_true = 0 and date in
        <foreach collection="dateList" item = "date" open="(" close = ")" separator=",">
            #{date}
        </foreach>
    </select>
    <select id = "selectCertificationRow" parameterType="java.util.HashMap" resultType="int">
        select count(*) from certifications where registered_fk = #{registeredId} and certification_true = 1
        and date = #{date}
    </select>
</mapper>