<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webapp.wooriga.mybatis.challenge.mapper.ChallengesMapper">

    <resultMap id = "challengeImagesResult" type="ChallengeImages">
        <result property="image" column="image"/>
    </resultMap>
    <resultMap id = "ChallengesResult" type="Challenges">
        <result property="challengeId" column="challenge_id"/>
        <result property="summary" column="summary"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <collection property="challengeImages" resultMap="challengeImagesResult"/>
    </resultMap>

    <select id = "selectChallenge" parameterType="long" resultType="Challenges">
        select * from challenges where challenge_id = #{challengeId}
    </select>
    <update id = "updateChallenge" parameterType="Challenges">
        update challenges
        set title=#{title},summary=#{summary},content=#{content}
        where challenge_id = #{challengeId}
    </update>
    <insert id = "insertChallenge" parameterType="Challenges">
        insert into challenges (title,summary,content) values (#{title},#{summary},#{content})
    </insert>
    <select id = "selectChallengeList" resultMap="ChallengesResult">
        select c.challenge_id,summary,title,content,ci.image from challenges c, challengeImages ci where c.challenge_id = ci.challenge_id and
        page_id = 1
    </select>
</mapper>